<h1> Hello, <%= @user.firstname %>! </h1>
<h2> Welcome to Blocipedia!</h2>

<p>
Hey look, here's you right - pink... Pinkman, get it? Here's your cash. You're 
out on the town, yeah you're partying hardy, you're knocking boots with the 
chicky babes and aww! Who's this? It's the tax man and he's looking at you. And 
what does he see? He sees a young fella, big fancy house, unlimited cash supply 
and no job. Now what is the conclusion the tax man makes? Aaaaannnt! Wrong! 
Millions times worse - you're a tax cheat. What do they do? They take every 
penny and you go in the can for felony tax evasion. Ouch! What was your mistake?
You didn't launder your money! Now, you give me your money, okay that's called  
placement. 
</p>

<p>
Hand me that little thing, bin. This is the nail salon, right. I take your dirty
money and I slip it into the salon's nice clean cash flow - that's called 
layering. Final step - integration. The revenues from the salon go to the owner 
- that's you! Your filthy drug money has been transformed into nice clean 
taxable income brought to you by a savvy investment in a thriving business. Yeah
and if you wanna stay a criminal and not become say a convict, then maybe you 
should grow up and listen to your lawyer. 
</p>