<h1>Welcome to Blocipedia!</h1>

<p>This is a placeholder.</p>

<p>
If you'd like to go to the list of wikis, please input
https://blocipedia-rjp203.c9users.io/wikis into your browser.
</p>

<p>
If you'd like to create a new wiki, please input 
https://blocipedia-rjp203.c9users.io/wikis/new into your browser.
</p>

<p>Enjoy!</p>